#section-beers {
  .beer-header {
    padding: 1.5rem;

    p {
      margin: 0;
    }
  }

  .beer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 1.5rem;
    text-align: center;

    article {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      img {
        padding: 1rem 2rem;
        object-fit: cover;
      }

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: 650px) {
  #section-beers {
    .beer-header {
      padding: 2.5rem;
    }
    .beer-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.5rem;
      padding: 2.5rem;
    }
  }
}
