@import "./../abstracts/variables";

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  width: 100vw;
  padding: 1rem 2rem;
  z-index: 5;

  > * {
    position: relative;
    display: grid;
    cursor: pointer;

    img {
      width: 4rem;
    }

    &.icon-cart-container {
      img {
        place-self: center;
      }

      .icon-cart-length {
        position: absolute;
        font-family: $header-font;
        font-weight: $bold;
        place-self: center;
      }
    }
  }
}
