@import "./../abstracts/variables";

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $primary-color;
  width: 100vw;
  padding: 1rem 2rem;
  z-index: 5;

  > * {
    place-self: center;
  }

  .icon-logo {
    width: 4rem;
  }

  .icon-cart {
    width: 3rem;
  }
}
