@import "./../abstracts/variables";

button {
  font-family: $header-font;
  font-weight: $bold;
  color: $font-color;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.button-fill {
  background-color: $secondary-color;
  color: $primary-color;
}

// button:hover {
//   color: $primary-color;
//   background-color: $secondary-color;
//   transition-duration: 0.3s;
// }

.button-amount {
  display: flex;
  padding: 0;

  > * {
    flex: 1;
    padding: 1rem;
  }
}

.button-sold-out {
  filter: brightness(0.5);
  cursor: auto;
}
