@import "./../abstracts/variables";
@import "typography";

body {
  background-color: $primary-color;
  margin: 0;
}

main {
  position: relative;
  padding-top: 7rem;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}

.slide-hidden {
  transform: translateX(100%);
}
